ul#media-acquiadam-browser-library-list {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
ul#media-acquiadam-browser-library-list > li {
  position: relative;
  margin: 0 15px 15px 0;
  border: 2px solid rgb(233, 233, 233);
}

ul#media-acquiadam-browser-library-list > li .form-item {
  left: 10px;
  position: absolute;
  top: 5px;
}

ul#media-acquiadam-browser-library-list > li.selected {
  border-color: rgb(253, 239, 189);
  background-color: rgb(255, 252, 242)
}

ul#media-acquiadam-browser-library-list > li.selected .label {
  background-color: rgb(253, 239, 189)
}

.media-acquiadam-browser-trail .breadcrumb {
  display: inline-block;
}

.media-acquiadam-browser-trail .jump-list {
  position: relative;
  display: inline-block;
}

#media-acquiadam-browser-choose-asset-form .back-link {
  margin-right: 10px;
}
