.media-list-thumbnails .form-type-radio {
  bottom: 117px;
  left: 6px;
  margin: 0;
  padding: 0;
  position: relative;
}

.media-item[data-asset-status="inactive"] .media-thumbnail img {
  opacity: .2;
}
